[submodule "compose/audit"]
	path = compose/audit
	url = git://github.com/RATDistributedSystems/audit.git
[submodule "compose/transactionServer"]
	path = compose/transactionServer
	url = https://github.com/RATDistributedSystems/transactionServer.git
[submodule "compose/workload-generator"]
	path = compose/workload-generator
	url = https://git@github.com/RATDistributedSystems/workload-generator
